Repository BuildCLI/BuildCLI, pull requests merged in 2025-02, with the labels that each got.

#217 feat: extends run command functionality, run jar file and .java file
  src/main/java/org/buildcli/BuildCLI.java
  src/main/java/org/buildcli/actions/commandline/JavaProcess.java
  src/main/java/org/buildcli/commands/ProjectCommand.java
  src/main/java/org/buildcli/commands/RunCommand.java
  src/main/java/org/buildcli/commands/project/RunCommand.java
  src/main/java/org/buildcli/commands/run/DockerfileCommand.java
  src/main/java/org/buildcli/exceptions/ThrowingComandExecutor.java
  src/main/java/org/buildcli/exceptions/ThrowingComandExecutorWrapper.java
Labels: enhancement

#209 Add workflow to enforce PRs to Develop Branch for External Contributo…
  .github/workflows/external-pr-branch-enforcer.yaml
Labels: github_actions

#201 Issue Auto-Closing Automation
  .github/workflows/close-issue-on-pr-merge.yaml
Labels: github_actions

#224 Feature/auto update fixes issue 56
  src/main/java/org/buildcli/CommandLineRunner.java
  src/main/java/org/buildcli/commands/AboutCommand.java
  src/main/java/org/buildcli/domain/git/GitCommandExecutor.java
  src/main/java/org/buildcli/domain/git/GitCommandFormatter.java
  src/main/java/org/buildcli/domain/git/GitCommandUtils.java
  src/main/java/org/buildcli/domain/git/GitOperations.java
  src/main/java/org/buildcli/utils/BuildCLIIntro.java
  src/main/java/org/buildcli/utils/BuildCLIService.java
  src/main/java/org/buildcli/utils/OS.java
  src/main/java/org/buildcli/utils/tools/CLIInteractions.java
Labels: enhancement

#219 Feat/add doctor command
  src/main/java/org/buildcli/BuildCLI.java
  src/main/java/org/buildcli/CommandExecutor.java
  src/main/java/org/buildcli/actions/commandline/AbstractCommandLineProcess.java
  src/main/java/org/buildcli/actions/commandline/BuildTool.java
  src/main/java/org/buildcli/actions/commandline/CommandLineProcess.java
  src/main/java/org/buildcli/actions/commandline/DockerProcess.java
  src/main/java/org/buildcli/actions/commandline/GradleProcess.java
  src/main/java/org/buildcli/actions/commandline/JavaProcess.java
  src/main/java/org/buildcli/actions/commandline/MavenProcess.java
  src/main/java/org/buildcli/actions/tools/DockerChecker.java
  src/main/java/org/buildcli/actions/tools/GradleChecker.java
  src/main/java/org/buildcli/actions/tools/JDKChecker.java
  src/main/java/org/buildcli/actions/tools/MavenChecker.java
  src/main/java/org/buildcli/actions/tools/ToolChecker.java
  src/main/java/org/buildcli/actions/tools/ToolCheckers.java
  src/main/java/org/buildcli/commands/DoctorCommand.java
  src/main/java/org/buildcli/commands/doctor/FixCommand.java
  src/main/java/org/buildcli/commands/doctor/ScanCommand.java
  src/main/java/org/buildcli/commands/project/BuildCommand.java
  src/main/java/org/buildcli/utils/GradleInstaller.java
Labels: enhancement

#235 Feat: add doctor command
  src/main/java/org/buildcli/BuildCLI.java
  src/main/java/org/buildcli/CommandExecutor.java
  src/main/java/org/buildcli/actions/commandline/AbstractCommandLineProcess.java
  src/main/java/org/buildcli/actions/commandline/BuildTool.java
  src/main/java/org/buildcli/actions/commandline/CommandLineProcess.java
  src/main/java/org/buildcli/actions/commandline/DockerProcess.java
  src/main/java/org/buildcli/actions/commandline/GradleProcess.java
  src/main/java/org/buildcli/actions/commandline/JavaProcess.java
  src/main/java/org/buildcli/actions/commandline/MavenProcess.java
  src/main/java/org/buildcli/actions/tools/DockerChecker.java
  src/main/java/org/buildcli/actions/tools/GradleChecker.java
  src/main/java/org/buildcli/actions/tools/JDKChecker.java
  src/main/java/org/buildcli/actions/tools/MavenChecker.java
  src/main/java/org/buildcli/actions/tools/ToolChecker.java
  src/main/java/org/buildcli/actions/tools/ToolCheckers.java
  src/main/java/org/buildcli/commands/DoctorCommand.java
  src/main/java/org/buildcli/commands/doctor/FixCommand.java
  src/main/java/org/buildcli/commands/doctor/ScanCommand.java
  src/main/java/org/buildcli/commands/project/BuildCommand.java
  src/main/java/org/buildcli/utils/GradleInstaller.java
Labels: enhancement

#241 Fix: run project not print
  src/main/java/org/buildcli/CommandExecutor.java
  src/main/java/org/buildcli/actions/commandline/AbstractCommandLineProcess.java
  src/main/java/org/buildcli/actions/commandline/BuildTool.java
  src/main/java/org/buildcli/actions/commandline/DockerProcess.java
  src/main/java/org/buildcli/actions/commandline/GradleProcess.java
  src/main/java/org/buildcli/actions/commandline/JavaProcess.java
  src/main/java/org/buildcli/actions/commandline/MavenProcess.java
  src/main/java/org/buildcli/commands/project/add/ProfileCommand.java
  src/main/java/org/buildcli/commands/project/set/EnvironmentCommand.java
Labels: bug

#220 Automatic Linting and Formatting
  .github/workflows/lint-and-format.yml
Labels: github_actions
