Repository BuildCLI/BuildCLI, pull requests merged in 2025-03, with the labels that each got.

#333 Feat: add generate test
  README.md
  cli/src/main/java/dev/buildcli/cli/BuildCLI.java
  cli/src/main/java/dev/buildcli/cli/commands/AiCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/ai/CodeCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/ai/code/CommentCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/ai/code/DocumentCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/ai/code/TestCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/project/AiCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/project/DocumentCodeCommand.java
  core/src/main/java/dev/buildcli/core/constants/AIConstants.java
  core/src/main/java/dev/buildcli/core/utils/LanguageDetector.java
  core/src/main/java/dev/buildcli/core/utils/ai/CodeUtils.java
  core/src/main/java/dev/buildcli/core/utils/ai/IAParamsUtils.java
  core/src/main/java/dev/buildcli/core/utils/async/Async.java
  core/src/main/java/dev/buildcli/core/utils/markdown/JavaHighlighter.java
  core/src/main/java/dev/buildcli/core/utils/markdown/KotlinHighlighter.java
  core/src/main/java/dev/buildcli/core/utils/markdown/LanguageHighlighter.java
  core/src/main/java/dev/buildcli/core/utils/markdown/MarkdownInterpreter.java
  core/src/main/java/dev/buildcli/core/utils/markdown/SyntaxHighlighter.java
  core/src/main/java/dev/buildcli/core/utils/threads/ThreadPoolUtils.java
Labels: feature

#336 feat: add print banner config
  cli/src/main/java/dev/buildcli/cli/CommandLineRunner.java
  cli/src/main/java/dev/buildcli/cli/commands/ConfigCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/config/ListCommand.java
  core/src/main/java/dev/buildcli/core/domain/configs/BuildCLIConfig.java
  core/src/main/java/dev/buildcli/core/utils/BuildCLIService.java
Labels: enhancement

#338 Feat: add plugin template
  buildcli.properties
  cli/src/main/java/dev/buildcli/cli/CommandLineRunner.java
  cli/src/main/java/dev/buildcli/cli/commands/plugin/AddCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/plugin/InitCommand.java
  cli/src/main/java/dev/buildcli/cli/commands/plugin/ListCommand.java
  core/changelog.md
  plugin/pom.xml
  plugin/src/main/java/dev/buildcli/plugin/BuildCLICommandPlugin.java
  plugin/src/main/java/dev/buildcli/plugin/BuildCLIPlugin.java
  plugin/src/main/java/dev/buildcli/plugin/BuildCLITemplatePlugin.java
  plugin/src/main/java/dev/buildcli/plugin/builders/CommandPluginBuilder.java
  plugin/src/main/java/dev/buildcli/plugin/builders/PluginBuilderFactory.java
  plugin/src/main/java/dev/buildcli/plugin/enums/PluginType.java
  plugin/src/main/java/dev/buildcli/plugin/enums/TemplateType.java
  plugin/src/main/java/dev/buildcli/plugin/utils/BuildCLIPluginManager.java
  plugin/src/main/java/dev/buildcli/plugin/utils/BuildCLIPluginUtils.java
  plugin/src/main/java/dev/buildcli/plugin/utils/PluginLoader.java
  plugin/src/main/java/dev/buildcli/plugin/utils/PluginUtils.java
  plugin/src/main/java/dev/buildcli/plugin/utils/pf4j/CustomDefaultPluginManager.java
Labels: enhancement

#202 Automatic Labeling of Issues and PRs
  .github/labeler.yml
  .github/workflows/auto-label.yaml
Labels: github_actions
